.form-container {
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 320px;
    height: 500px;
    margin: auto;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .form-group-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 12px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label { /*Nombre del Campo*/
            font-size: 14px;
            font-weight: 500;
            color: #666;
        }

        input, /* Campo de Texto */
        select {
            padding: 10px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 8px;
            width: 100%;
            box-sizing: border-box;
            background-color: white;
            
        }

        .date-input-container {
            input[type="date"] {
                padding: 10px;
                font-size: 14px;
                border: 1px solid #ddd;
                border-radius: 8px;
                width: 100%;
                box-sizing: border-box;
                background-color: white;
            }
        }

        .error {
            color: #c0392b;
            font-size: 12px;
        }
    }

    .action-buttons {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
        gap: 8px;

        button {
            flex: 1;
            background-color: #7aa7a1;
            color: white;
            border: none;
            padding: 10px;
            border-radius: 8px;
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            filter: drop-shadow(0 4px 8px rgba(117, 155, 151, 0.4));

            &:hover {
                opacity: 0.9;
            }

            &.guardar,
            &.nuevo,
            &.eliminar,
            &.actualizar {
                background-color: #60908B;
            }
        }
    }
}
