@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


:host {
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
}

.main-content-container {
    margin-left: 70px; // Sidebar minimizado
    width: calc(100% - 70px);
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {
        display: flex;
        align-items: center;

        .icon-bg {
            background-color: #FFB4B4;
            padding: 6px;
            border-radius: 4px;
            margin-right: 16px;
            width: 75px;
            height: 75px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;

            img {
                width: 50px;
                height: 50px;
                object-fit: contain;
            }
        }

        h1 {
            font-size: 30px;
            font-weight: 600;
            color: #636363;
            margin: 0;
        }
    }

    .search-container {
        display: flex;
        align-items: center;
        gap: 8px;

        .search-input {
            width: 260px;
            padding: 8px 16px;
            border-radius: 9999px;
            border: 1px solid #ccc;
        }

        .search-button {
            width: 36px;
            height: 36px;
            border-radius: 9999px;
            background-color: #BFD3D1;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            i {
                font-size: 14px;
                color: #555;
            }
        }
    }
}

.content {
    flex: 1;
    padding: 13px;
    background-color: #f5f5f5;
}

.form-table-wrapper {
    display: flex;
    gap: 24px;
}


    @media (max-width: 768px) {
        .filter-container {
            .filter-group {
                min-width: calc(50% - 15px);
            }
        }
    }

    @media (max-width: 480px) {
        .filter-container {
            .filter-group {
                min-width: 100%;
            }
        }
    }
