@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


:host {
    font-family: 'Inter', sans-serif;
}

.app-container {
    display: flex;
    height: 100vh;
}

.main-content-container {
    margin-left: 70px; // Sidebar minimizado
    width: calc(100% - 70px);
    transition: margin-left 0.3s ease;
    display: flex;
    flex-direction: column;
}

.content-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #ffffff;
    padding: 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title-container {
        display: flex;
        align-items: center;

        .icon-bg {
            background-color: #FFB4B4;
            padding: 6px;
            border-radius: 4px;
            margin-right: 16px;
            width: 105px;
            height: 105px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 20px;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
            }
        }

        h1 {
            font-size: 50px;
            font-weight: 600;
            color: #636363;
            margin: 0;
        }
    }
}

.card-section {
  padding: 20px;
  display: flex;
  gap: 20px;

  .card {
    flex: 1;
    display: flex;
    align-items: center;
    padding: 40px 34px;
    background: linear-gradient(to right, #BFD3D1, #fff8f8, #fce4ec);
    border-radius: 20px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.08);
    max-width: 320px;

    .clients {
      display: flex;
      align-items: center;
      gap: 16px;

      img {
        width: 60px;
        height: 60px;
        object-fit: contain;
      }

      span {
        display: block;
        font-family: 'Inter', sans-serif;

        &:first-of-type {
          font-size: 16px;
          font-weight: 500;
          color: #636363;
        }

        &:last-of-type {
          font-size: 28px;
          font-weight: 700;
          color: #333;
        }
      }
    }
  }
}


    @media (max-width: 768px) {
        .filter-container {
            .filter-group {
                min-width: calc(50% - 15px);
            }
        }
    }

    @media (max-width: 480px) {
        .filter-container {
            .filter-group {
                min-width: 100%;
            }
        }
    }